{% extends 'base_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <style>
        h1{
            color: #3482A3;
            text-align: center;
        }

        .container {
            margin-top: 50px;
        }

        .table th {
            text-align: left;
        }

        .btn {
            margin-right: 10px;
        }

        .form-container {
            width: 50%; /* Điều chỉnh độ rộng của form container */
            margin: 0 auto; /* Căn giữa theo chiều ngang */
        }


    </style>
<div class="container">
    <h1>User</h1>

    <div class="form-container">
        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ user.position ? user.position: '' }}</td>
            </tr>
            
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}"class="btn btn-secondary">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}"class="btn btn-primary" style="background-color: #3482A3">edit</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
